@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';
@import '/src/assets/scss/base';


.container{
    h3{
        font-style: italic;
        color:indigo;
        
    }

    #h41{
        color:red;
    }
}